body{
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f8fbff; 
    margin: 0;    
}
svg{
    cursor: pointer;
    margin-top: 10px;
}
textarea{
    max-width: 50%;
    min-width: 50%;
    max-height: 100px;
    min-height: 100px;
}
button, input, textarea, .about-page, .feedback-page{
    border-radius: 10px;
}
.header{
    background-color: #03624c;
    display: flex;
    padding: 15px 10px;

}
.app-name{
    width: 100%;
    font-family: 'Pixelify Sans', 'Courier New', Courier, monospace;
    font-size: 25px;
}
.all{
    width: 100%;
    display: flex;
}
.inputs-fields{
    width: 100%;
    text-align: center;
    margin: 30px 0px ;
}
.input{
    margin: 10px 0px ;
}
.input input, textarea{
    border: #03624c 1px solid;
    padding: 10px;
    width: 50%;
    outline: none;
}
.btn button{
    border: none;
    background-color: #03624c;
    cursor: pointer;
    padding: 10px;
    color: #f8fbff;
}
.btn :hover{
    background-color: #f8fbff;
    color: #03624c;
}
.display{
    width: 100%;
    text-align: center;
    margin: 30px 0px 20px 0px;
    flex-grow: 1;
    overflow-y: auto;
}
.proj-name-display{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.members{
    font-size: 19px;
}
.prompt-btn{
    display: none;
}
.grouping{
    color: green;
}

.about-page{
    position: fixed;
    width: 50%;
    top: 15%;
    right: 0;
    background-color: #f8fbff;
    padding: 10px;
    margin: 5px;
    border:  1px solid #03624c;
    display: none;
}
.feedback-page{
    display: none;
    text-align: center;
    width: 50%;
    position: fixed;
    top: 15%;
    right: 0;
    border: 1px solid #03624c;
    padding: 10px;
    margin: 5px;
    background-color: #f8fbff;
}


@media only screen and (max-width: 768px) {   
    .all{
        flex-direction: column;
    }
    .prompt-btn{
        position:fixed;
        bottom: 0;
        right: 0;
        display: flex;
    }
    .prompt-btn div{
        padding: 0px 1px;
    }
    .home, .shuffle, .print, .short-cut{
        display: none;
    }
    .about-page{
        width: fit-content;
    }
    .feedback-page{
        width: fit-content;
    }
}